# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
#check If two input are even     
    if a % 2 ==0 and b %2 ==0:
        if a<b:
            print(f"Both  number are even and the lesser is {a}")
        elif b<a:
            print(f"Both  number are even and the lesser is {b}")
        else:
            print("Both  number are even  and  equals also ")
#check If two input are odd             
    if a % 2 !=0 and b %2 !=0:    
            if a>b:
                print(f"Both  number are odd and the greater is {a}")
            elif b>a:
                print(f"Both  number are odd and the greater is {b}")
            
#check If  the first input is even  and second is odd 
    if a % 2 ==0 and b %2 !=0:
        if a>b:
            print(f"One of these  number is odd and the greater is {a}")
        elif b>a:
            print(f"One of these  number is odd and the greater is {b}")
            
#check If the first input is odd and the second is even  
    if a % 2 !=0 and b %2 ==0:
        if a>b:
            print(f"One of these  number is odd and the greater is {a}")
        elif b>a:
            print(f"One of these  number is odd and the greater is {b}")

In [2]:
# Check
lesser_of_two_evens(2,4)

Both  number are even and the lesser is 2

In [3]:
lesser_of_two_evens(4,4)

Both  number are even  and  equals also

In [4]:
# Check
lesser_of_two_evens(2,5)

One of these  number is odd and the greater is 5

In [5]:
lesser_of_two_evens(9,5)

Both  number are odd and the greater is 9

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [6]:
def animal_crackers(text):
    
    one_world=text.split()
    if one_world[0][0] == one_world[1][0]:
        print (f" The two word begin with the chracter   (  {one_world[1][0]} )")
        print (" True")
        
    else:
        print("False")

In [7]:
# Check
animal_crackers('Levelheaded Llama')

 The two word begin with the chracter   (  L )
 True

In [8]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [9]:
def makes_twenty(n1,n2):
    s=n1+n2
    
    if n1 == 20:
        print("first input is :20")
    elif n2==20:
        print("Second input is 20")

    elif s ==20:
        print (" The sum is : 20")
    else:
        print("false")

In [10]:
# Check
makes_twenty(20,10)

first input is :20

In [11]:
makes_twenty(100,20)

Second input is 20

In [12]:
# Check
makes_twenty(12,8)

 The sum is : 20

In [13]:
# Check
makes_twenty(2,3)

false

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [14]:
x="abcd"
print(x)
print(type(x))

x_list=list(x)
print(x_list)

x_list[0]="A"
print(x_list)

yoy= "".join(x_list)
yoy

abcd
<class 'str'>
['a', 'b', 'c', 'd']
['A', 'b', 'c', 'd']

'Abcd'

In [15]:
def old_macdonald(name):
    print("the old one:  "+ name)
    #take the 0,3 character 
    name_0=name[0].upper()
    name_3=name[3].upper()
    # convert the string into list to have ability to reassig 0,3 character
    name_list= list(name)
    #reassign 
    name_list[0]=name_0
    name_list[3]=name_3
    #convert list to string to have abiltity to return correctly
    name_final ="".join(name_list)
    print("the new one:  " + name_final)

In [16]:
# Check
old_macdonald('macdonald')

the old one:  macdonald
the new one:  MacDonald

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [17]:
def master_yoda(text):
    
    list_dummy=[]
    list_text= text.split()
    list_dummy=list_text[0]
    list_text[0]=list_text[2]
    list_text[2]=list_dummy
    print(" ".join(list_text))

In [18]:
# Check
master_yoda('I am home')

home am I

In [19]:
# Check
master_yoda('We are ready')

ready are We

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [20]:
def almost_there(x):
    # to detect number between 90 :100 
    if x < 100:
        if abs(100-x) <= 10:
            print ("True")
        else:
            print("false")
    # to detect number between 100 :110         
    elif x>100 and x<110:
        if abs(100-x) <= 10:
            print ("True")
    # to detect number between 190 :200 
    elif x < 200 and x> 190:
        if abs(200-x) <= 10:
            print ("True")
    # to detect number between 200 :210         
    elif x>200 and x<210:
        if abs(200-x) <= 10:
            print ("True")   
    else:
        print("False")

In [21]:
# Check
almost_there(104)

True

In [22]:
almost_there(94)

True

In [23]:
almost_there(10)

false

In [24]:
# Check
almost_there(150)

False

In [25]:
# Check
almost_there(209)

True

In [26]:
almost_there(195)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

# Draft cell for me

In [27]:
x=" sssss"
result= "s" in x
print (result)

y=0
x=[1,8,98,3,3]

for n in x:
    #print(len(x))
    if n==3:
        if x[y+1]==3:
            print("true")
            print(f"the doubled three exist on positin {y+1} and {y+2}")
           # y-=1
            
    else:
        print("false")
    y+=1
    print(f"y={y}")
    if y== len(x)-1:
        break

True
false
y=1
false
y=2
false
y=3
true
the doubled three exist on positin 4 and 5
y=4

In [28]:
def has_33(x):
#dummy varible used to compare iteam who's value is 3 with iteam next to him
    y=0

    for n in x:
        #print(len(x))
        if n==3:
            if x[y+1]==3:
                print(f"the doubled three exist on positin {y+1} and {y+2}")


        else:
            print("false")
        #the increment here is made to make dummy varible compatible  with iteration with for loop 
        y+=1
        # to prevent the code from checking the sepical case which is a 3 at the last position in the list 
        if y== len(x)-1:
            break

In [29]:
# Check
has_33([1, 3, 3])

false
the doubled three exist on positin 2 and 3

In [30]:
# Check
has_33([1, 3, 3,5,8,9,3,3])

false
the doubled three exist on positin 2 and 3
false
false
false
the doubled three exist on positin 7 and 8

In [31]:
# Check
has_33([1, 3, 1, 3])

false
false

In [32]:
# Check
has_33([3, 1, 3])

false

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

**Draft cell for me**

In [33]:
y=[]
x="hello"
print(x[0]*3)
print(len(x))

for n in range(len(x)):    
    y.append(x[n]*3)
   
print(y)
result="".join(y)
print (result)

hhh
5
['hhh', 'eee', 'lll', 'lll', 'ooo']
hhheeellllllooo

In [34]:
def paper_doll(text):
    y=[]
    for n in range(len(text)):
        y.append(text[n]*3)
        
    return "".join(y)

In [35]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [36]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

### BLACKJACK: Given three integers between 1 and 11, 

if their sum is less than or equal to 21, return their sum.  If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10.

Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'


    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [37]:
x=[11,3,6]
11 in x

True

In [38]:
def blackjack(a=5,b=6,c=7):
    sum_total=a+b+c
    if sum_total <= 21:
        print(f"total sum is :{sum_total}")
    elif a ==11 or b==11 or c ==11 :
        sum_total-=10
        print(f"we get one  item  have value 11 and  the sum is {sum_total}" )
    elif sum_total >= 21:
        print("BUST")

In [39]:
# Check
blackjack(5,6,7)

total sum is :18

In [40]:
# Check
blackjack(9,9,9)

BUST

In [41]:
# Check
blackjack(9,9,11)

we get one  item  have value 11 and  the sum is 19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [42]:
def summer_69(arr):
    if 6 in arr:
        index_6=arr.index(6)
        if 9 in arr:
            index_9=arr.index(9)+1
            del arr[ index_6: index_9]
            print(f" the new list after editing is {arr}")
            return(sum(arr))

    else:
        sum(arr)
        if sum(arr)==0:
            print(" the result is : 0")
        else:
            return (sum(arr))

In [43]:
# Check
summer_69([1, 3, 5])

9

In [44]:
summer_69([])

 the result is : 0

In [45]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

 the new list after editing is [4, 5]

9

In [46]:
# Check
summer_69([2, 1, 6, 9, 11])

 the new list after editing is [2, 1, 11]

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [47]:
def spy_game(nums=[1,2,4,0,0,7,5]):
    
    for n in range(len(nums)):
        # I am looking for  my battern 007 and avoid the special case which is 0 is at the last position of the list
        if nums[n] == 0 and n < len(nums)-1 :
            if nums[n+1] ==0:
                if nums[n+2]==7:
                    print(f" I catch 007 in order in position {n} , {n+1} and {n+2}")
                    break
        # to check it we are in the last iteration             
        elif n==len(nums)-1:
            print("false")
            
        else:
             continue

In [48]:
# Check
spy_game([1,2,4,0,0,7,5])

 I catch 007 in order in position 3 , 4 and 5

In [49]:
# Check
spy_game([1,0,2,4,0,5,7])

false

In [50]:
# Check
spy_game([1,7,2,0,4,5,0])

false

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [51]:

def count_primes(input_var):
    count=0
    for x in range(input_var+1):
        num=x
        #print(f"num = x {num},{x}")
        for n in range(num):
            if num == 2 :
                print(f'   find {num}  as prime  number')
                count+=1
                break
            elif num ==3 :
                print(f'   find {num}  as prime  number')
                count+=1
                break
            elif n==0 or n==1:
                continue

            elif num %(n) == 0:
                #print("not prime")
                break
            else:
                if  num% (n+1) == 0:
                    #print(f"    {num}    is not prime number after second check")
                    break
                else: 
                    print(f"   find {num}  as prime number")
                    count+=1            
                    break
    print (f"the total prime number between 0 and {input_var} is  :{count}")

In [52]:
# Check
count_primes(11)

   find 2  as prime  number
   find 3  as prime  number
   find 5  as prime number
   find 7  as prime number
   find 11  as prime number
the total prime number between 0 and 11 is  :5

In [53]:
# Check
count_primes(50)

   find 2  as prime  number
   find 3  as prime  number
   find 5  as prime number
   find 7  as prime number
   find 11  as prime number
   find 13  as prime number
   find 17  as prime number
   find 19  as prime number
   find 23  as prime number
   find 25  as prime number
   find 29  as prime number
   find 31  as prime number
   find 35  as prime number
   find 37  as prime number
   find 41  as prime number
   find 43  as prime number
   find 47  as prime number
   find 49  as prime number
the total prime number between 0 and 50 is  :18

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [105]:
def print_big(input_letter):
    
    if input_letter == "A" or  "a":
        print(f"The out pattern is :{dic_letter[input_letter]}")

    elif input_letter == "B" or "b":
        print(f"The out pattern is :{dic_letter[input_letter]}")

    elif input_letter == "C" or "c":
        print(f"The out pattern is :{dic_letter[input_letter]}")

    elif input_letter == "D" or "d":
        print(f"The out pattern is :{dic_letter[input_letter]}")

    elif input_letter == "E" or "e":
        print(f"The out pattern is :{dic_letter[input_letter]}")

In [104]:
print_big('A')

The out pattern is :******

In [106]:
print_big('B')

The out pattern is :&&&&&&&

In [107]:
print_big('E')

The out pattern is :@@@@@@

## Great Job!